section{
  padding-top: 2em;
  padding-bottom: 5em;
}

section h1{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2em;
}

.question.item div{
  display: inline-block;
}

.question-box{
  width: 80%;
  margin: 0 auto;
  padding: 1em 0em 0em 3em;
  margin-bottom: 2.5em;
}

.q-a{
  color: rgb(0,150,197);
  font-weight: bold;
  font-size: 1.5em;
}

.question .q-a{
  padding-right: 0.5em;
}

.question{
  font-weight: bold;
}

.question .content{
  font-size: 1.5em;
}

.answer{
  color: #666;
  padding-top: .5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.content.list{
  padding: 1em 1em 0 1em;
}

.ans-content{
  font-size: 1.2em;
  padding-left: 1em;
  padding-top: .2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

code{
  color: #4150bd;
  font-size: 1.2em;
  word-wrap: break-word;
  word-break: break-all;
}

@media(max-width: 768px){
  .question-box{
    width: 100%;
    padding: 2em;
    margin-bottom: 1em;
  }
}