<app-dashboard 
    id="Dashboard"
    (navClickEvent)='triggerScrollTo($event)'>
</app-dashboard>

<section>
  <h1>
    {{ 'FAQ.title' | translate }}
  </h1>
  <h5 style="text-align: center;">You may view the spreadsheet version <a href="https://docs.google.com/spreadsheets/d/1CfYAyN7b5jh9s6MVHBWplclaAn_f7MieHTylcoYA3N0/htmlview#">here</a>.</h5>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q1' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content"><a href="https://token.morpheuslabs.io/">{{ 'FAQ.A1' | translate }}</a></div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q2' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content"><a href="{{ 'FAQ.A2' | translate }}">{{ 'FAQ.A2' | translate }}</a></div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q3' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A3' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q4' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A4' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q5' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A5' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q6' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A6' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q7' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A7' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q8' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A8-1' | translate }}</div>
        <div class="content list">
          <ul>
            <li>{{ 'FAQ.A8-bullet-1' | translate }}</li>
            <li>{{ 'FAQ.A8-bullet-2' | translate }}</li>
            <li>{{ 'FAQ.A8-bullet-3' | translate }}</li>
            <li>{{ 'FAQ.A8-bullet-4' | translate }}</li>
          </ul>
        </div>
        <div class="content">{{ 'FAQ.A8-2' | translate }} <a href="{{ 'FAQ.A8-3' | translate }}">{{ 'FAQ.A8-3' | translate }}</a>.</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q9' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A9' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q10' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">
          <p>{{ 'FAQ.A10-1' | translate }}</p> 
          <p>{{ 'FAQ.A10-2' | translate }}</p> 
        </div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q11' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A11-1' | translate }}</div>
        <div class="content list">
          <ul>
            <li>{{ 'FAQ.A11-bullet-1' | translate }}</li>
            <li>{{ 'FAQ.A11-bullet-2' | translate }}</li>
            <li>{{ 'FAQ.A11-bullet-3' | translate }}</li>
            <li>{{ 'FAQ.A11-bullet-4' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q12' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A12' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q13' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A13' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q14' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A14' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q15' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A15' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q16a' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A16a' | translate }} <a href="{{ 'FAQ.A16a-link' | translate }}">{{ 'FAQ.A16a-link' | translate }}</a></div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q16b' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content"><a href="{{ 'FAQ.A16b' | translate }}">{{ 'FAQ.A16b' | translate }}</a></div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q17' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A17' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q18' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A18' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q19' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A19' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q20' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content"><code>{{ 'FAQ.A20-addr' | translate }}</code></div>
        <div class="content">{{ 'FAQ.A20' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q21' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A21' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q23' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A23' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q24' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content">{{ 'FAQ.A24-1' | translate }}</div>
        <div class="content">{{ 'FAQ.A24-2' | translate }}</div>
        <div class="content">{{ 'FAQ.A24-3' | translate }}</div>
        <div class="content">{{ 'FAQ.A24-4' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">{{ 'FAQ.Q25' | translate }}</div>
    </div>
    <div class="answer item">
      <div class="q-a">A: </div>
      <div class="ans-content">
        <div class="content"><a href="{{ 'FAQ.A25' | translate }}">{{ 'FAQ.A25' | translate }}</a></div>
      </div>
    </div>
  </div>

</section>