<app-dashboard 
    id="Dashboard"
    (navClickEvent)='triggerScrollTo($event)'>
</app-dashboard>

<section>
  <h1>
    Frequently Asked Questions (FAQ)
  </h1>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">What is the Ethereum wallet address to transfer to buy MiT?</div>
    </div>
    <div class="answer item">
      <div class="content">Our Wallet Address is <code>0xb036677bd6CBf0f9d44f5F706984Cd42E258A780</code></div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">What is your current investment offer and offers in next phases?</div>
    </div>
    <div class="answer item">
      <div class="content">We are currently at private placement stage and we will announce our offers to public when we go live in next phase, please follow us closely.</div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">What is your timeline for your next phase? What is possibility for the respective token sale phase to close earlier?</div>
    </div>
    <div class="answer item">
      <div class="content">Our Event timeline is as follows: </div>
      <div class="content list">
        <ul>
          <li>Private Placement (26th Jan - 25th Feb)</li>
          <li>Early Bird (26th Feb - 18th Mar)</li>
          <li>Pre Sales (19th Mar - 15th April)</li>
          <li>Official Sales (16th April - 13th May)</li>
        </ul>
      </div>
      <div class="content">Looking at our current take up rate, it is highly possible to close all stages earlier than expected. Register interest <a href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1">here</a>.</div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">What is next after I registered my interest in your private placement stage (from 26th Jan)?</div>
    </div>
    <div class="answer item">
      <div class="content">As we have received overwhelming registrations, we are doing our best to process each manually and as quickly as possible. We will be sending out confirmation email with next steps soonest.To secure your bonus tokens, there is a window period of 5 days for you to fund your investment and as our 1st loyal supporters, we will aim to process your token distribution within 1 month after token event closed.</div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">When can I get my bonus tokens and what is the lock up period like?</div>
    </div>
    <div class="answer item">
      <div class="content">You will get your full token (+ bonus) approximate 1 month after token event closes, we aim to process your token as soon as possible.<br>E.g. 50ETH will get 750,000 MiT (150% of 50,000MiT)</div>
      <div class="content list">
        <ul>
          <li>1st day of 7th month 5%</li>
          <li>1st day of 8th month 5%</li>
          <li>1st day of 9th month 10%</li>
          <li>1st day of 10th month 10%</li>
          <li>1st day of 11 months 10%</li>
          <li>1st day of 12 months 10%</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">Do you have any allocations for different phases of the token sales?</div>
    </div>
    <div class="answer item">
      <div class="content">Yes, we have and the breakdown is as below: </div>
      <div class="content list">
        <ul>
          <li>Private Placement: 30% (Cap)</li>
          <li>Early Bird: 30% (Cap)</li>
          <li>Pre Sales: 30% (Cap)</li>
          <li>Official Sales: 10% (Cap)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">You have a 30% token reservation for community. What is this for?</div>
    </div>
    <div class="answer item">
      <div class="content">Our main business model is B2B and as a infrastructure hub, we will need to build a strong community not only with retail users but also business partners such as, distributorship, strategic alliance, Joint ventures, listing on major exchanges, establish strong presence in Greater China region, marketing & events, bounty and more.</div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">Do you have any plans or strategy to protect MiT token value?</div>
    </div>
    <div class="answer item">
      <div class="content">Having great confidence in our business and line of business deals coming in, we will use our 10% of our yearly profit to purchase back our tokens, and limit to 5% of token issuance per year if necessary.</div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">Can you share your current business progress?</div>
    </div>
    <div class="answer item">
      <div class="content">Currently we have received proposals to set up subsidiary and presence in China, Japan, Malaysia and Dubai. For Japan and Malaysia, we are in midst of setting up our R&D and additional techical team. This should be up by end February. For China, we all know it is a big market. As such, we are taking a more strategics approach where resources could be intensive. Finally, for Dubai, we are still in negotiation with an interested party. Further to this, we are also in project scoping stage with Proline integrated Intelligence (Smart nation - Airport) and Y3 technologies on Supply chain</div>
    </div>
  </div>

  <div class="question-box">
    <div class="question item">
      <div class="q-a">Q: </div>
      <div class="content">Can you share your current Technical progress?</div>
    </div>
    <div class="answer item">
      <div class="content">We are conducting enhancements on our MvP, we aim to complete our app store by mid Feb and continue with our roadmap milestone targeting the first commercial release in Q3, 2018.</div>
    </div>
  </div>

</section>