
<div class="container-fluid">
    <app-header
    (clickEvent)="onNavLinkClicked($event)"></app-header>
    <div class="brand-container">
      <app-timer></app-timer>
      <img src="./assets/icons/Logo_Big.png" class="brand-logo">
      <div class="brand-title">
        <h1> Morpheus Labs </h1>
      </div>
      <div class="brand-desc">
        Building the next Generation Blockchain-as-a-Service-Platform. Inclusive Blockchain accessible to anyone and everyone.
      </div>
    </div>
</div>
