
<div class="container-fluid">
    <app-header
      (clickEvent)="onNavLinkClicked($event)">
    </app-header>
    <app-timer></app-timer>
    <div class="brand-container">
      <img src="./assets/icons/Logo_Big.png" class="brand-logo">
      <div class="brand-title">
        <h1> Morpheus Labs </h1>
      </div>
      <div class="brand-desc">
        Powerful Inclusive Full Stack Blockchain-Platform-As-a-Service for Enterprises.
      </div>
    </div>
    <div class="pattern-left"></div>
    <div class="pattern-right"></div>
    <div class="pattern-bottom"></div>
    <div class="sea-main">
      <div class="sea-box"></div>
    </div>
</div>
