footer
{
  background: #23262d;
}

footer nav .nav-link
{
  font-size: 0.8em;
  color: #bebec0;
}

.social-buttons
{
  display: flex;
  flex-direction: row;

}

.social-buttons a
{
  margin: 0 5px 0 5px;
}

nav
{
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}