footer
{
  padding: 50px 0 20px 0;
  background: #23262d;
}

footer nav .nav-link
{
  font-size: 0.8em;
  color: #bebec0;
  cursor: pointer;
}

.social-buttons
{
  display: flex;
  flex-direction: row;

}

.social-buttons a
{
  margin: 0 5px 0 5px;
}

.social-buttons a img
{
  width: 35px;
}

nav
{
  margin-bottom: 30px;
}

.nav-links{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0;
}

.copyright-container
{
  font-size: 0.6em;
  color: #bebec0;
  padding-left: 15px;
  padding-right: 4px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go-btn, .go-btn:active{
  background-image: url('../../assets/icons/gototop.png')!important;
  height: 35px;
  width: 35px;
  background-size: 100% 100%;
  border-radius: 50%;
  border: none;
}

.go-btn:focus{
  outline:none!important;
}

.hide{
  display: none !important;
}

.persistent-footer{
  width: 100%;
  background: rgba(76, 76, 76, .95);
  padding: 1em 1em 1.2em 1em;
  transition: all ease-in-out .5s;
}

.persistent-footer .row{
  max-width: 70%;
  margin: 0 auto;
}

.persistent-footer span{
  display: block;
}

.stat-title{
  font-size: .8em;
  color: #9b9b9b;
}

.stat-value{
  font-size: 2.5em;
  color: white;
  line-height: .8em;
}

.persistent-footer.hidden{
  position: fixed;
  left:0;
  bottom:-150px;
  z-index: 20;
}

.persistent-footer.fixed{
  position: fixed;
  left:0;
  bottom:0;
  z-index: 20;
}

.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*border: 1px solid transparent;*/
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  /*border-radius: .25rem;*/
  transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover{
  cursor: pointer;
  opacity: .9;
  transform: translateY(5px);
}

.buy-btn{
  color: white !important;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  background: rgb(0, 151, 200);
  border-radius: 0;
  font-size: 1.5em;
  width: 100%;
  height: 100%;
}

@media(max-width: 1023px){
  .nav{
    display: none;
  }
  footer{
    padding: 20px 0 20px 0;
  }
}