footer
{
  padding-top: 50px;
  background: #23262d;
}

footer nav .nav-link
{
  font-size: 0.8em;
  color: #bebec0;
}

.social-buttons
{
  display: flex;
  flex-direction: row;

}

.social-buttons a
{
  margin: 0 5px 0 5px;
}

.social-buttons a img
{
  width: 35px;
}

nav
{
  padding-bottom: 30px;
}