<footer>
  <div class="container-fluid">
    <nav class="nav">
      <ul class="nav-links" >
        <li 
          class="nav-item" 
          *ngFor='let navlink of navlinks'
          (click) = "onLinkClicked(navlink.label)">
          <a *ngIf="navlink.link != '#'" class="nav-link" href={{navlink.link}}>{{navlink.label}}</a>
          <a *ngIf="navlink.link == '#'" class="nav-link">{{navlink.label}}</a>
        </li>
      </ul>
      <div class="social-buttons ml-auto">
        <a href="mailto:info@morpheuslabs.io">
          <img src="./assets/icons/SocialMedia01.png">
        </a>
        <a href="#">
          <img src="./assets/icons/SocialMedia02.png">
        </a>
        <a href="https://www.linkedin.com/company/13238533/">
          <img src="./assets/icons/SocialMedia03.png">
        </a>
        <a href="#">
          <img src="./assets/icons/SocialMedia04.png">
        </a>
      </div>
    </nav>
    <div class="copyright-container">
      <div>© Morpheus Labs. Inc | 2017 All rights reserved</div>
      <button 
        class="btn go-btn"
        (click)="onLinkClicked('Dashboard')">
      </button>
    </div>
  </div>
</footer>
