<footer>
  <div class="container-fluid">
    <nav class="nav">
      <ul class="nav-links" >
        <li 
          class="nav-item" 
          *ngFor='let navlink of navlinks'
          (click) = "onLinkClicked(navlink.label)">
          <a *ngIf="navlink.link != '#'" class="nav-link" href={{navlink.link}}>{{navlink.label}}</a>
          <a *ngIf="navlink.link == '#'" class="nav-link">{{navlink.label}}</a>
        </li>
      </ul>
      <div class="social-buttons ml-auto">
        <a href="mailto:info@morpheuslabs.io">
          <img src="./assets/icons/SocialMedia01.png">
        </a>
        <a href="https://www.facebook.com/morpheusblockchain">
          <img src="./assets/icons/SocialMedia02.png">
        </a>
        <a href="https://www.linkedin.com/company/27162662/">
          <img src="./assets/icons/SocialMedia03.png">
        </a>
        <a href="https://twitter.com/morpheus_labs_">
          <img src="./assets/icons/SocialMedia04.png">
        </a>
      </div>
    </nav>
    <div class="copyright-container">
      <div style="width: 90%;">© Morpheus Labs. Inc | 2017 All rights reserved <br><br>
          Investing in ICOs and digital tokens can be very rewarding, but it involves a number of risks and challenges. If you choose to invest,  you need to be aware of and accept three important considerations, 1. illiquidity , 2.Diversification, 3.Loss of Capital. This list of risk factors does not purport to be a complete enumeration or explanation of the risks. Prospective investors should review, at the very least, but not limited to, the whitepaper, team and also product roadmap in their entirety and consult with their own advisers before making any decision to invest.
        </div>
      <button 
        class="btn go-btn"
        (click)="onLinkClicked('Dashboard')">
      </button>
    </div>
  </div>
</footer>
