	<app-dashboard 
	    id="Dashboard"
	    (navClickEvent)='triggerScrollTo($event)'>
	</app-dashboard>
	<app-progress></app-progress>
	<app-carousel 
	    id="AboutMorpheus">
	</app-carousel>
	<app-problem></app-problem>
	<app-solution 
	    id="Solution">
	</app-solution>
	<app-advantage></app-advantage>
	<app-event 
	    id="TokenEvents">
	</app-event>
	<app-about></app-about>
	<app-reason></app-reason>
	<app-benefits></app-benefits>
	<app-distribution></app-distribution>
	<!--<app-progress></app-progress> -->
	<app-generation></app-generation>
	<app-timeline></app-timeline>
	<app-roadmap></app-roadmap>
	<app-team 
	    id="Team">
	</app-team>
	<app-logos></app-logos>
	<app-footer 
	    (navClickEvent)='triggerScrollTo($event)'>
	</app-footer>
