<div class="container-fluid pie">
  <div class="stats">
    <div class="pie-box">
      <div class="chart token-dist">
        <img src="../assets/img/distribution/TokenDist.png">
        <h1 class="pie-title">{{ 'DISTRIBUTION.TOKEN' | translate }}<br>{{ 'DISTRIBUTION.DISTRIBUTION' | translate }}</h1>
        <div class="pie-stat reserve">
          <div class="value">20%</div>
          <div class="label">{{ 'DISTRIBUTION.Reserve Fund' | translate }}</div>
        </div>
        <div class="pie-stat community">
          <div class="value">30%</div>
          <div class="label">{{ 'DISTRIBUTION.Community' | translate }}<br>{{ 'DISTRIBUTION.Community-sub' | translate }}</div>
        </div>
        <div class="pie-stat foundation">
          <div class="value">15%</div>
          <div class="label" style="line-height: 1.2em;">{{ 'DISTRIBUTION.Foundation' | translate }}<br>{{ 'DISTRIBUTION.Foundation-sub' | translate }}</div>
        </div>
        <div class="pie-stat sales">
          <div class="value">25%</div>
          <div class="label">{{ 'DISTRIBUTION.Token Sales' | translate }}</div>
        </div>
        <div class="pie-stat team">
          <div class="value">10%</div>
          <div class="label">{{ 'DISTRIBUTION.Team' | translate }}</div>
        </div>
      </div>
    </div>

    <div class="bar-stats">
    	<ul>
    		<li>
    			<div class="bar reserve bar-1"></div>
    			<div class="desc">
    				<span class="label">{{ 'DISTRIBUTION.Reserve Fund' | translate }}</span>&nbsp;<span class="value">20%</span>
    			</div>
    		</li>
        <li>
          <div class="bar community bar-2"></div>
          <div class="desc">
            <span class="label">{{ 'DISTRIBUTION.Community' | translate }} {{ 'DISTRIBUTION.Community-sub' | translate }}</span>&nbsp;<span class="value">30%</span>
          </div>
        </li>
        <li>
          <div class="bar foundation bar-3"></div>
          <div class="desc">
            <span class="label">{{ 'DISTRIBUTION.Foundation' | translate }} {{ 'DISTRIBUTION.Foundation-sub' | translate }}</span>&nbsp;<span class="value">15%</span>
          </div>
        </li>
    		<li>
    			<div class="bar sales bar-4"></div>
    			<div class="desc">
    				<span class="label">{{ 'DISTRIBUTION.Token Sales' | translate }}</span>&nbsp;<span class="value">25%</span>
    			</div>
    		</li>
    		<li>
    			<div class="bar team bar-5"></div>
    			<div class="desc">
    				<span class="label">{{ 'DISTRIBUTION.Team' | translate }}</span>&nbsp;<span class="value">10%</span>
    			</div>
    		</li>
    	</ul>
    </div>
  </div>

    <div class="stats">
      <div class="pie-box">

      <div class="chart fin-dist">
        <img src="../assets/img/distribution/FinDist.png">
        <h1 class="pie-title">{{ 'DISTRIBUTION.FINANCE' | translate }}<br>{{ 'DISTRIBUTION.DISTRIBUTION' | translate }}</h1>
        <div class="pie-stat devops">
          <div class="value">35%</div>
          <div class="long label">{{ 'DISTRIBUTION.Platform Development' | translate }}<br>{{ 'DISTRIBUTION.Operations' | translate }}</div>
          <div class="short label">{{ 'DISTRIBUTION.Platform Dev' | translate }}<br>{{ 'DISTRIBUTION.Ops' | translate }}</div>
        </div>
        <div class="pie-stat marketing">
          <div class="value">30%</div>
          <div class="label">{{ 'DISTRIBUTION.Marketing' | translate }}</div>
        </div>
        <div class="pie-stat rnd">
        <div class="value">20%</div>
          <div class="label">{{ 'DISTRIBUTION.R&D' | translate }}</div>
        </div>
        <div class="pie-stat others">
          <div class="value">15%</div>
          <div class="label">{{ 'DISTRIBUTION.Others, Legal' | translate }}</div>
        </div>
      </div>
    </div>

    <div class="bar-stats">
      <ul>  
        <li>
          <div class="bar devops bar-1"></div>
          <div class="desc">
            <span class="label">{{ 'DISTRIBUTION.Platform Development' | translate }}{{ 'DISTRIBUTION.Operations' | translate }}</span>&nbsp;<span class="value">35%</span>
          </div>
        </li>
        <li>
          <div class="bar marketing bar-2"></div>
          <div class="desc">
            <span class="label">{{ 'DISTRIBUTION.Marketing' | translate }}</span>&nbsp;<span class="value">30%</span>
          </div>
        </li>
        <li>
          <div class="bar rnd bar-3"></div>
          <div class="desc">
            <span class="label">{{ 'DISTRIBUTION.Research Development' | translate }}</span>&nbsp;<span class="value">20%</span>
          </div>
        </li>
        <li>
          <div class="bar others bar-4"></div>
          <div class="desc">
            <span class="label">{{ 'DISTRIBUTION.Others, Legal' | translate }}</span>&nbsp;<span class="value">15%</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>