<div class="container-fluid pie">
  <div class="stats">
    <div class="pie-box">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="tokenDist"
        [legend]="showLegend"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [arcWidth]="arcWidth"
        [tooltipDisabled]="tooltipDisabled">
      </ngx-charts-pie-chart>
    	<div class="pie-title">Token<br>Distribution</div>
    	<div class="pie-stat reserve">
    		<div class="value">20%</div>
    		<div class="label">Reserve Fund</div>
    	</div>
    	<div class="pie-stat foundation">
    		<div class="value">20%</div>
    		<div class="label">Foundation</div>
    	</div>
    	<div class="pie-stat sales">
    		<div class="value">25%</div>
    		<div class="label">Token Sales</div>
    	</div>
    	<div class="pie-stat community">
    		<div class="value">15%</div>
    		<div class="label">Community</div>
    	</div>
    	<div class="pie-stat team">
    		<div class="value">20%</div>
    		<div class="label">Team</div>
    	</div>
    </div>

    <div class="bar-stats">
    	<ul>
    		<li>
    			<div class="bar reserve bar-1"></div>
    			<div class="desc">
    				<span class="label">Reserve Fund</span>&nbsp;<span class="value">20%</span>
    			</div>
    		</li>
        <li>
          <div class="bar foundation bar-2"></div>
          <div class="desc">
            <span class="label">Foundation</span>&nbsp;<span class="value">20%</span>
          </div>
        </li>
    		<li>
    			<div class="bar sales bar-3"></div>
    			<div class="desc">
    				<span class="label">Token Sales</span>&nbsp;<span class="value">25%</span>
    			</div>
    		</li>
    		<li>
    			<div class="bar community bar-4"></div>
    			<div class="desc">
    				<span class="label">Community</span>&nbsp;<span class="value">15%</span>
    			</div>
    		</li>
    		<li>
    			<div class="bar team bar-5"></div>
    			<div class="desc">
    				<span class="label">Team</span>&nbsp;<span class="value">20%</span>
    			</div>
    		</li>
    	</ul>
    </div>
  </div>

    <div class="stats">
      <div class="pie-box">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="financeDist"
        [legend]="showLegend"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [arcWidth]="arcWidth"
        [tooltipDisabled]="tooltipDisabled">
      </ngx-charts-pie-chart>
      <div class="pie-title">Finance<br>Distribution</div>
      <div class="pie-stat devops">
        <div class="value">45%</div>
        <div class="label">Platform Development<br>& Operations</div>
      </div>
      <div class="pie-stat marketing">
        <div class="value">20%</div>
        <div class="label">Marketing</div>
      </div>
      <div class="pie-stat rnd">
        <div class="value">25%</div>
        <div class="label">R&D</div>
      </div>
      <div class="pie-stat others">
        <div class="value">15%</div>
        <div class="label">Others, Legal</div>
      </div>
    </div>

    <div class="bar-stats">
      <ul>  
        <li>
          <div class="bar devops bar-1"></div>
          <div class="desc">
            <span class="label">Platform Development<br> & Operations</span>&nbsp;<span class="value">45%</span>
          </div>
        </li>
        <li>
          <div class="bar marketing bar-2"></div>
          <div class="desc">
            <span class="label">Marketing</span>&nbsp;<span class="value">20%</span>
          </div>
        </li>
        <li>
          <div class="bar rnd bar-3"></div>
          <div class="desc">
            <span class="label">Research & Development</span>&nbsp;<span class="value">25%</span>
          </div>
        </li>
        <li>
          <div class="bar others bar-4"></div>
          <div class="desc">
            <span class="label">Others, Legal</span>&nbsp;<span class="value">15%</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>