<div class="container-fluid statistics">
  <h2>{{ 'TIMELINE.header' | translate }}</h2>

  <div class="statistics-subtit">{{ 'TIMELINE.current' | translate }}</div>
      <div class="statistics-time">{{ 'TIMELINE.time' | translate }}</div>
      <div class="timeline statistics-main">
        <ul>
          <li class="statistics-col-1">
            <div class="statistics-li-main">
              <h5>{{ 'STAGE.desc2' | translate }}</h5>
              <div class="statistics-item statistics-left-col" >
                <div class="statistics-col-bg" ></div>
                <div class="statistics-text">{{ 'STAGE.bonus2' | translate }}</div>
                <div class="statistics-date"> {{ 'STAGE.date2' | translate }}</div>
                <a class="statistics-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">{{ 'TIMELINE.join-btn' | translate }}</a>
              </div>
            </div>
          </li>
          <li class="statistics-col-1">
            <div class="statistics-li-main">
              <h5>{{ 'STAGE.desc4' | translate }}</h5>
              <div class="statistics-item statistics-left-col">
                <div class="statistics-col-bg statistics-item-linght"></div>
                <div class="statistics-text">{{ 'STAGE.bonus4' | translate }}</div>
                 <div class="statistics-date">  {{ 'STAGE.date4' | translate }}</div>
                 <a class="statistics-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">{{ 'TIMELINE.buy-btn' | translate }}</a>
              </div>
            </div>
          </li>
          <li class="statistics-col-1">
            <div class="statistics-li-main">
              <h5>{{ 'STAGE.desc6' | translate }}</h5>
              <div class="statistics-item">
                <div class="statistics-col-bg"></div>
                <div class="statistics-text">{{ 'STAGE.bonus6' | translate }}</div>
                 <div class="statistics-date"> {{ 'STAGE.date6' | translate }}</div>
                 <a class="statistics-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">{{ 'TIMELINE.buy-btn' | translate }}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

</div>