<div class="container-fluid statistics">
  <h2>Token Timeline</h2>

  <div class="statistics-subtit">EARLY BIRD PREMIUM BONUS</div>
      <div class="statistics-time">26 February 09:00:00 - 8 March 2018</div>
      <div class="timeline statistics-main">
        <ul>
          <li class="statistics-col-2">
            <div class="statistics-li-main">
              <h5>Early Bird Premium Bonus</h5>
              <div class="statistics-item statistics-left-col " >
                <div class="statistics-col-bg" ></div>
                <div class="statistics-text">Bonus 40%</div>
                <div class="statistics-date"> 26 FEB - 8 MAR</div>
                <a class="statistics-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">Join Early Bird Sale</a>
              </div>
              <div class="statistics-item statistics-right-col">
                <div class="statistics-col-bg statistics-item-linght"></div>
                <div class="statistics-text">Bonus 35%</div>
                <div class="statistics-date"> 9 MAR - 18 MAR</div>
                <a class="statistics-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">Buy Token</a>
              </div>
            </div>
          </li>
          <li class="statistics-col-2">
            <div class="statistics-li-main">
              <h5>Pre-sales Additional Bonus</h5>
              <div class="statistics-item statistics-left-col">
                <div class="statistics-col-bg statistics-item-linght"></div>
                <div class="statistics-text">Bonus 20%</div>
                 <div class="statistics-date">  19 MAR - 1 APR</div>
                 <a class="statistics-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">Buy Token</a>
              </div>
              <div class="statistics-item statistics-right-col">
                <div class="statistics-col-bg statistics-item-linght"></div>
                <div class="statistics-text">Bonus 10%</div>
                <div class="statistics-date">  2 APR - 15 APR</div>
                <a class="statistics-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">Buy Token</a>
              </div>
            </div>
          </li>
          <li class="statistics-col-1">
            <div class="statistics-li-main">
              <h5>Official Sales</h5>
              <div class="statistics-item">
                <div class="statistics-col-bg"></div>
                <div class="statistics-text">Bonus 0%</div>
                 <div class="statistics-date"> 16 APR - 27 MAY</div>
                 <a class="statistics-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">Buy Token</a>
              </div>
            </div>
          </li>
          <li class="statistics-col-1">
            <div class="statistics-li-main">
             <h5>Unsold Tokens Release</h5>
              <div class="statistics-item statistics-not-data" >
                <div class="statistics-col-bg"></div>
                <div class="statistics-text"></div>
                 <div class="statistics-date"> 27 MAY ONWARD</div>
                 <a class="statistics-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">Buy Token</a>
              </div>
            </div>
          </li>
        </ul>
      </div>

</div>