<div class="container-fluid">
  <h1 class="title">Cornerstone Investors</h1>
  <div class="logo-row">
    <div *ngFor="let logo of logos.cornerstone">
      <a *ngIf="logo.link != '' ; else img_only" href="{{ logo.link }}" target="_blank">
        <img class="bw logo" src="{{ logo.image }}" alt="{{ logo.name }}">
      </a>

      <ng-template #img_only>
        <img class="bw logo" src="{{ logo.image }}" alt="{{ logo.name }}">
      </ng-template>
    </div>
  </div>
</div>

<div class="light container-fluid">
  <h1 class="title">Partners & Clients</h1>
  <div class="logo-row">
    <div *ngFor="let logo of logos.partners">
      <a *ngIf="logo.link != '' ; else img_only" href="{{ logo.link }}" target="_blank">
        <img class="bw logo" src="{{ logo.image }}" alt="{{ logo.name }}">
      </a>

      <ng-template #img_only>
        <img class="bw logo" src="{{ logo.image }}" alt="{{ logo.name }}">
      </ng-template>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h1 class="title">Supported by</h1>
  <div class="logo-row">
    <div *ngFor="let logo of logos.supported">
      <a *ngIf="logo.link != '' ; else img_only" href="{{ logo.link }}" target="_blank">
        <img class="bw logo" src="{{ logo.image }}" alt="{{ logo.name }}">
      </a>

      <ng-template #img_only>
        <img class="bw logo" src="{{ logo.image }}" alt="{{ logo.name }}">
      </ng-template>
    </div>
  </div>
</div>

<div class="light container-fluid">
  <h1 class="title">As Seen On</h1>
  <div class="tight logo-row">
    <div *ngFor="let logo of logos.featurings">
      <a *ngIf="logo.link != '' ; else img_only" href="{{ logo.link }}" target="_blank">
        <img class="bw logo" src="{{ logo.image }}" alt="{{ logo.name }}">
      </a>

      <ng-template #img_only>
        <img class="bw logo" src="{{ logo.image }}" alt="{{ logo.name }}">
      </ng-template>
    </div>
  </div>
</div>