<div class="container-fluid">
  <div class="title">
    <h1>About Platform</h1>
  </div>
  <div class="text">
      Morpheus Labs BPaaS simplifies and expedites your blockchain application development and gives you the flexibility to choose between available programming languages and blockchain runtimes that better suit your needs. You get unparalleled benefits from an integrated collaborative development environment, workspace management, version control repository and many preconfigured tasks. Let our platform do the heavy lifting while you focus on value-adding work like application creation and experiment with the blockchain technologies at a fraction of the cost and time.
  </div>
  <div class="screens">
	<div class="poster-main">
		<div class="poster-btn poster-prev-btn"><img src="../assets/img/carousel/left.png"></div>
		<ul class="poster-list">
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/01_Login.jpg" width="100%" ></a></li>
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/02_Landing.jpg" width="100%" ></a></li>
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/03_Membership.jpg" width="100%" ></a></li>
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/04_Team.jpg" width="100%" ></a></li>
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/05_Application Library.jpg" width="100%" ></a></li>
		</ul>
		<div class="poster-btn poster-next-btn"><img src="../assets/img/carousel/right.png"></div>
	</div>
  </div>
</div>