.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title{
    margin-top: 45px;
    margin-bottom: 10px;
}

.text{
    color: darkgrey;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
}

.screens{
    height: 450px;
    overflow-y: hidden ;
    overflow-x: scroll ;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 45px;
}

.image {
    max-height: 100%;
    width: auto;
}

.poster-main{
    position: relative;
    margin: 10px auto;
}

.poster-main:after{
    content: "";
    position: absolute;
    left: 49.5%;
    top: -13.5%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 117%;
    width: 69%;
    background:url(../../assets/img/carousel/iPad.png) left top no-repeat;
    background-size:100% 100%;
    z-index: 10;
    pointer-events:none;
} 

.poster-main a,.poster-main img{
    display:block;
}

.poster-main .poster-list{
    width: 1000px;
    height: 500px;
}

.poster-main .poster-list .poster-item{ 
    width: 200px;
    height: 500px;
    position:absolute;
    left:0;
    top:0;
}

.poster-main .poster-btn{ 
    position:absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:10; 
    cursor:pointer;  
    width: 5%;
    max-width: 20px;
}

.poster-main .poster-prev-btn{
    left:-8%; 
}

.poster-main .poster-next-btn{
    right:-8%; 
}

@media(max-width: 1150px){
    .screens{
        justify-content: flex-start;
    }
}

@media(max-width: 760px){
    .screens{
        justify-content: flex-start;
        height: 200px;
        width: 90%;
    }
    .image {
        height: auto;
        max-height: auto;
        width: 100%;
    }
}