<div class="container-fluid">
  <div class="title">
    <h1>{{ 'PLATFORM.header' | translate }}</h1>
  </div>
  <div class="text">
		{{ 'PLATFORM.text' | translate }}
  </div>
  <div class="screens">
  	<div class="tablet"></div>
	<div class="poster-main abt-carousel">
		<div class="poster-btn poster-prev-btn"><img src="../assets/img/carousel/left.png"></div>
		<ul class="poster-list">
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/01_Login.jpg" width="100%" ></a></li>
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/02_Landing.jpg" width="100%" ></a></li>
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/03_Membership.jpg" width="100%" ></a></li>
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/04_Team.jpg" width="100%" ></a></li>
			<li class="poster-item"><a href="javascript:;"><img src="../assets/img/carousel/05_Application Library.jpg" width="100%" ></a></li>
		</ul>
		<div class="poster-btn poster-next-btn"><img src="../assets/img/carousel/right.png"></div>
	</div>
  </div>
</div>