<div class="timer-container">
  <div class="stage-text-container">
    <div class="stage-text-1">{{stageTitle1}}</div>
    <div class="stage-text-2">{{stageTitle2}}</div>
    <div class="stage-text-3">{{stageTitle3}}</div>
  </div>
  <div class="badge-text-1">{{badgeLabel1}}</div>
  <div class="badge-text-2">{{badgeLabel2}}</div>
  <div class="countdown-container">
    <div class="time">{{days}}</div>
    :
    <div class="time">{{hours}}</div>
    :
    <div class="time">{{minutes}}</div>
    :
    <div class="time">{{seconds}}</div>
  </div>
  <div class="time-labels">
    <div class="time-label">DAYS</div>
    <div class="time-label">HOURS</div>
    <div class="time-label">MINUTES</div>
    <div class="time-label">SECONDS</div>
  </div>
  <div class="button-container" onclick="location.href='mailto:token@morpheuslabs.io?subject=Token Purchase Enquiry'">
    <div class="btn-text-container">
      <div class="btn-text-1">Buy Token Now</div>
      <div class="btn-text-2">We accept BTC, ETH and other</div>
    </div>
    <div class="btn-icon"></div>
  </div>
  <div class="social-container">
    <div class="share-text">
      SHARE WITH
    </div>
    <div class="social-buttons">
        <!-- <a href="#">
          <img src="./assets/icons/SocialMedia02.png">
        </a> -->
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://ico.morpheuslabs.io&title=Morpheuslabs%20ICO%20Starts%20Now
        &summary=Buy%20tokens%20now%20to%20enjoy%20extra%20bonus&source=LinkedIn">
          <img src="./assets/icons/SocialMedia03.png">
        </a>
        <a href="https://twitter.com/intent/tweet?text=Morpheuslabs%20ICO%20Starts%20Now!%20Buy%20tokens%20now%20at%20http://ico.morpheuslabs.io">
          <img src="./assets/icons/SocialMedia04.png">
        </a>
        <div class="fb-share-button" data-href="http://ico.morpheuslabs.io" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="http://ico.morpheuslabs.io"></a></div>
      </div>
  </div>
</div>