.navbar{
  background: rgba(0, 0, 0, 0.24);
  border: 0;
}

.navbar-brand
{
  color: white;
  font-size: 1em;
}

.navbar-nav .nav-item .nav-link
{
  color: white;
}

.navbar-nav .nav-item{
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0);
  border-right: 2px solid rgba(255, 255, 255, 0);
}

.navbar-nav .nav-item.active
{
  border-bottom: 2px solid white;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0);
  border-right: 2px solid rgba(255, 255, 255, 0);
}

.navbar-nav .nav-item:hover
{
  border-bottom: 2px solid white;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0);
  border-right: 2px solid rgba(255, 255, 255, 0);
}
/* 
.brand-title{
    display: flex;
    flex-direction: row;
    align-items: center;
} */
.brand-logo{
    height: 1.5em;
    margin-left: 30px;
    margin-right: 10px;
}

.nav-link{
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 5px;
}