<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-brand">
        <img src="./assets/icons/Logo_Big.png" class="brand-logo">
        <div class="brand-title">Morpheus Labs</div>
    </div>
    <ul class="nav navbar-nav">
      <li> <a href="#">About Morpheus</a></li>
      <li> <a href="#">Solution</a></li>
      <li> <a href="#">Whtie Paper</a></li>
      <li> <a href="#">Token Events</a></li>
      <li> <a href="#">Team</a></li>
      <li> <a href="#">Bounty</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" role="button">Language <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">English</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> -->



<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#">
    <img src="./assets/icons/Logo_Big.png" class="brand-logo" alt="">
    Morpheus Labs
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">About Morpheus</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Solution</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">White Paper</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Token Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Bounty</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <!-- <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
    </ul>
  </div>
</nav>
