.navbar{
  background: rgba(0, 0, 0, 0.24);
  border: 0;
}

.navbar-brand
{
  color: white;
  font-size: 1em;
}

.navbar-nav {
  align-items: flex-end
}

.navbar-nav .nav-item .nav-link
{
  color: white;
  cursor: pointer;
}

.navbar-nav .nav-item{
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0);
  border-right: 2px solid rgba(255, 255, 255, 0);
}

.navbar-nav .nav-item.active
{
  border-bottom: 2px solid white;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0);
  border-right: 2px solid rgba(255, 255, 255, 0);
}

.navbar-nav .nav-item:hover
{
  border-bottom: 2px solid white;
  border-top: 2px solid rgba(255, 255, 255, 0);
  border-left: 2px solid rgba(255, 255, 255, 0);
  border-right: 2px solid rgba(255, 255, 255, 0);
}

.brand-logo{
    height: 1.5em;
    margin-left: 30px;
    margin-right: 10px;
}

.nav-link{
    font-size: 0.8em;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-toggle{
  background-image: url('../../../assets/icons/menu.png');
  background-position: 50% 50%;
  background-size: 70%;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none!important;
  display: none;
}

@media(max-width: 1000px){
  .navbar{
    background: rgba(0, 0, 0, 1);
    border: 0;
  }
  .nav-toggle{
    display: block;
  }
}