<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand">
        <img src="./assets/icons/Logo_Big.png" class="brand-logo">
        <div class="brand-title">Morpheus Labs</div>
    </div>
    <ul class="nav navbar-nav">
      <li> <a href="#">About Morpheus</a></li>
      <li> <a href="#">Solution</a></li>
      <li> <a href="#">Whtie Paper</a></li>
      <li> <a href="#">Token Events</a></li>
      <li> <a href="#">Team</a></li>
      <li> <a href="#">Bounty</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" role="button">Language <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">English</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
