<div class="progress-box container-fluid">
	<h1 class="title">
		Morpheus Infrastructure Platform<br>
		Version x (MITx)
	</h1>

	<div class="progress-box">
		<div class="progress-bar-wrap">
			<progressbar [max]="max" [value]="dynamic" [striped]="true">
				<span style="color:white; white-space:nowrap;"></span>
			</progressbar>
		</div>
		<div class="popovers">
			<div role="tooltip" style="display: block;" class="current popover in popover-bottom bs-popover-bottom bottom show">
				<div class="popover-arrow arrow"></div>
				<h3 class="popover-title popover-header">Current Token Sales</h3>
				<div class="popover-content popover-body">${{ dynamic | number: '.2'}}</div>
			</div>
			<div role="tooltip" style="display: block;" class="light popover in popover-bottom bs-popover-bottom bottom show">
				<div class="popover-arrow arrow"></div>
				<h3 class="popover-title popover-header">Token Sales Target</h3>
				<div class="popover-content popover-body">${{ max | number: '.2'}}</div>
			</div>
		</div>
	</div>
</div>