.phase-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    --dot-size: 15px;
    --line-high-height: 9px;
}

.indicator{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
}

.line-high-current, .line-high-past{
    width: 5px;
    background: rgb(0,150,197);
    height: var(--line-high-height);
}

.line-high-future{
    width: 5px;
    background: rgb(222, 222, 222);
    height: var(--line-high-height);
}


.dot-current, .dot-past{
    height: var(--dot-size);
    width: var(--dot-size);;
    background: rgb(0,150,197);
    border-radius: 50%;
}

.dot-future{
    height: var(--dot-size);
    width: var(--dot-size);;
    background: rgb(150, 150, 150);
    border-radius: 50%;
}

.line-low-current, .line-low-future{
    width: 5px;
    background: rgb(222, 222, 222);
    height: calc(100% - var(--dot-size) - var(--line-high-height))
}

.line-low-past{
    width: 5px;
    background: rgb(0,150,197);
    height: calc(100% - var(--dot-size) - var(--line-high-height))
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 90%;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 1.4em;
}

.title>div{
    margin-right: 5px;
}

.time{
    color:rgb(0,150,197);
}

.desc{
    font-size: 1em;
    color: rgb(122, 122, 122);
}