<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="slide">
        <div class="text">
          <div class="title">
            Morpheus Labs    
          </div>
          <div class="desc">
              Simplifies and expedites blockchain application development, gives you the flexibility to choose between available programming languages and blockchain runtimes that better suit your needs. 
              <br/><br/>
              You receive unparalleled benefits from an integrated collaborative development environment, workspace management, version control repository and many preconfigured tasks. 
              <br><br/>
              Let our platform do the heavy lifting while you focus on value-adding work such as application creation and experimenting with the blockchain technologies at a fraction of the cost and time. 
          </div>
        </div>
        <div class="media">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hLhpZ99LO-Y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>