<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="slide">
        <div class="text">
          <div class="title">
            Morpheus Labs    
          </div>
          <div class="desc">
            We provide enterprises the most efficient way to validate ideas via our comprehensive suite of tools and a bespoke app from our app store. 
          </div>
        </div>
        <div class="media">
          <img class="image" src="https://lorempixel.com/900/500?r=1">
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slide">
          <div class="text">
            <div class="title">
              Morpheus Labs    
            </div>
            <div class="desc">
                Cras imperdiet metus eleifend velit porta posuere. Etiam sed mi vitae dolor rutrum bibendum. Donec a risus vitae ante malesuada porttitor. Integer sed mollis felis. Sed pharetra tincidunt lacus non viverra. Nam tincidunt turpis tellus, at vestibulum sapien faucibus ut. Duis ac convallis lectus, volutpat congue dolor. Sed fermentum, urna eget aliquet pulvinar, enim mauris placerat nulla, pharetra venenatis leo neque a odio.
            </div>
          </div>
          <div class="media">
            <img class="image" src="https://lorempixel.com/900/500?r=2">
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
          <div class="slide">
            <div class="text">
              <div class="title">
                Morpheus Labs    
              </div>
              <div class="desc">
                  Cras imperdiet metus eleifend velit porta posuere. Etiam sed mi vitae dolor rutrum bibendum. Donec a risus vitae ante malesuada porttitor. Integer sed mollis felis. Sed pharetra tincidunt lacus non viverra. Nam tincidunt turpis tellus, at vestibulum sapien faucibus ut. Duis ac convallis lectus, volutpat congue dolor. Sed fermentum, urna eget aliquet pulvinar, enim mauris placerat nulla, pharetra venenatis leo neque a odio.
              </div>
            </div>
            <div class="media">
              <img class="image" src="https://lorempixel.com/900/500?r=3">
            </div>
          </div>
        </ng-template>
  </ngb-carousel>
</div>