<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="slide">
        <div class="text">
          <h1 class="title">
            {{ 'ABOUT.header' | translate }}
          </h1>
          <div class="desc">
              {{ 'ABOUT.description1' | translate }}
              <br/><br/>
              {{ 'ABOUT.description2' | translate }}
              <br><br/>
              {{ 'ABOUT.description3' | translate }} 
          </div>
        </div>
        <div class="media">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hLhpZ99LO-Y" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>