<div class="container-fluid">
  <img class="header-image" src='./assets/icons/BenefitBG.jpg'>
  <div class="row">
    <div class="col benefits-section">
      <h1>{{ 'BENEFIT.header' | translate }}</h1>
      <p>
        {{ 'BENEFIT.summary' | translate }}
      </p>
      <div 
        class="more-text"
        *ngIf="showMore">
        <ul>
            <li *ngFor="let listitem of listitems">{{listitem.label}}
              <div class="li-desc" [innerHTML]="listitem.desc"> </div>
            </li>
          </ul>
        <p>
            {{ 'BENEFIT.detail1' | translate }}
            <br>
            <br>
            {{ 'BENEFIT.detail2' | translate }}
            <br>
            <br>
            {{ 'BENEFIT.detail3' | translate }}
            <br>
            <br>
            {{ 'BENEFIT.detail4' | translate }}
        </p>
      </div>
      <button
        class="btn mroe-btn" 
        (click)="toggleShowMore()">{{showMoreLabel}}</button>
      <!-- <button type="button" class="btn whitepaper-btn">Read Whitepaper</button> -->
      <a class="btn mroe-btn whitepaper-btn" href="./assets/documents/WhitePaper.pdf" target="_blank">{{ 'BENEFIT.Read Whitepaper' | translate }}</a>
      <a class="btn reg-btn" href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">{{ 'BENEFIT.Register Now' | translate }}</a>

      <div class="wallet-addr">
        <strong>Morpheus ETH Wallet Address:</strong> 0xb036677bd6CBf0f9d44f5F706984Cd42E258A780
      </div>
    </div>
    <img src='./assets/icons/iphone.png' class="iphone-image">
    <div class="blue-background"></div>
    <div class="card-container">
      <app-bubble
      *ngFor="let content of benefits"
      [content]="content">
      </app-bubble>
      <div class="card-placeholder"></div>
    </div>

  </div>
</div>
