

<div class="container-fluid">
    <!-- <img src='./assets/icons/BenefitBG.jpg'> -->
  <div class="row">
    <div class="col-7 benefits-section">
      <h1>Benefits of Token</h1>
      <p>This consist of Platform subscription payment, Application usage fee and Distributorship licensing fee as stated below </p>
      <button type="button" class="btn btn-lg btn-outline-secondary">Learn More</button>
      <button type="button" class="btn btn-lg btn-primary">Read Whitepaper</button>
    </div>
    <div class="col-5">
        <!-- <img src='./assets/icons/iphone.jpg'> -->
    </div>
  </div>
</div>
