.benefits-section
{
  padding: 10% 0 0 6%;
}

p
{
  padding: 2em 0 2em 0;
  color: #666;
}

button
{
  border-radius: 0;
  margin-right: 15px;
}

.btn-primary
{
  background: rgb(0, 150, 197);
  border-color: rgb(0, 150, 197);
}

.iphone-section
{
  position: relative;
}
.iphone-image
{
  margin-top: -20%;
}

.blue-background
{
  background: rgb(0, 150, 197);
  width: 318px;
  height: 560px;
  position: absolute;
  right: 383px;
  top: -37px;;
}

.card-section
{
  display: flex;
  align-items: center;
  flex-direction: column;

  background: white;
  border-radius: 10px;
  // border: 1px solid grey;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

  position: absolute;
  top: 3.5rem;
  width: 18rem;

  padding: 2rem;
  height: 25rem;

  img
  {
    margin-bottom: 2rem;
  }
  .card-title
  {
    font-size: 20px;
    font-weight: bold;

  }
}

.card-section-1
{

  left: 5.8rem;
}

.card-section-2
{
  left: 28rem;
}
