.container-fluid{
  padding-right: 0;
  padding-left: 0;
  overflow: hidden;

}

.header-image{
  width: 100%;
}

.row{
  position: relative;
}

.card-container{
  position: absolute;
  display: flex;
  flex-direction:row;
  justify-content: flex-start ;
  align-content: center;
  top: 10%;
  right: 0;
  height: 350px;
  width: 500px;
}


.benefits-section
{
  padding: 3% 0 3% 6%;
}

p
{
  padding: 2em 0 1em 0;
  color: #666;
}

button
{
  border-radius: 0;
  margin-right: 15px;
}

.btn-primary
{
  background: rgb(0, 150, 197);
  border-color: rgb(0, 150, 197);
}

.iphone-section
{
  position: relative;
}
.iphone-image
{
  margin-top: -20%;
}

.blue-background
{
  background: rgb(0, 150, 197);
  width: 318px;
  height: 560px;
  position: absolute;
  right: 383px;
  top: -37px;;
}

.card-section
{
  display: flex;
  align-items: center;
  flex-direction: column;

  background: white;
  border-radius: 10px;
  // border: 1px solid grey;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

  width: 18rem;

  padding: 2rem;
  height: 25rem;

  img
  {
    margin-bottom: 2rem;
  }
  .card-title
  {
    font-size: 20px;
    font-weight: bold;

  }
}

.card-section-1
{


}

.card-section-2
{

}

ol
{
  margin-bottom: 2em;
  li
  {
    font-weight: bold;
    color: #666;
    margin-bottom: 0.5em;
  }
  .li-desc
  {
    font-weight: normal;
  }
}

