<div class="container-fluid">
  <h1 class="title">Road Map</h1>
  <ngb-tabset type="pills" class="tabs-container">
    <ngb-tab title="Technical">
      <ng-template ngbTabContent class="tab-content">
        <div class="roadmap-container">
          <app-phase
            *ngFor="let phase of techPhases"
            [content]="phase"
          ></app-phase>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Business">
      <ng-template ngbTabContent>
        ...
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>