<div class="container-fluid">
  <h1 class="title">{{'ROADMAP.header' | translate}}</h1>
  <ngb-tabset type="pills" class="tabs-container">
    <ngb-tab>
      <ng-template ngbTabTitle>{{'ROADMAP.Technical' | translate}}</ng-template>
      <ng-template ngbTabContent class="tab-content">
        <div class="roadmap-container">
          <app-phase
            *ngFor="let phase of techPhases"
            [content]="phase"
          ></app-phase>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>{{'ROADMAP.Business' | translate}}</ng-template>
      <ng-template ngbTabContent>
        <div class="roadmap-container">
          <app-phase
            *ngFor="let phase of bizPhases"
            [content]="phase"
          ></app-phase>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>