.container-fluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: rgb(250, 250, 250);
    padding-top: 45px;
    padding-bottom: 45px;
}

.title{
    margin-bottom: 30px;
}

.roadmap-container{
    margin-top: 100px;
}

.nav-pills .nav-link.active{
    color:red!important;
}

@media(max-width: 1023px){
    .roadmap-container{
        margin-top: 20px;
    }
}