<app-header (clickEvent)="onNavLinkClicked($event)">
</app-header>

<div class="setion">
  <div class="logo">
    <img src="../../assets/img/bounty/logo.png" alt="">
  </div>
  <div class="intor">
    <p>Battle between the Alliance and Horde have erupted, and a new war has begun.</p>
    <p>Summoning all champions, heroes, warlords, wizards and knights out there to support our faction - and join Morpheus League.
    </p>
    <p>You will be knowns as legend, leading to explore and conquer new territories against the horde and eventually earn a
      place in Olympus, and total
      <strong>USD 300,000</strong> worth of token can be earned from this campaign.</p>
    <br>
    <p>This is an exclusive approved group of the most heroic, loyal and honorable supporters of Morpheus Labs</p>
  </div>
  <div class="btn-box">
    <a class="btn btn-blue" href="https://goo.gl/forms/nV3wuDE75i0QZLZq2" target="_blank">Join our league now! </a>
    <a class="btn btn-blue-2" href="https://docs.google.com/forms/d/e/1FAIpQLSfc34YqgsaZSb-V0n0MvYhmE5CvSBVReysmWJIMZw7DcCJvZg/viewform"
      target="_blank">Submit Proof of Honor</a>
  </div>
  <div class="info">
    <h2 class="h2">
      <img src="../../assets/img/bounty/Title.png" alt="" class="pc">
      <img src="../../assets/img/bounty/MobileTitle01.png" alt="" class="mobile">
    </h2>

    <div class="info-list">
      <img src="../../assets/img/bounty/frame_bg_top.png" alt="" class="pc">
      <div class="list-box">
        <div class="classes">
          <h2 class="glecb">Choose from one of the classes and lead Human Race
            <br>to conquer unexplored territories</h2>
          <ul class="glecb">
            <li>Knight</li>
            <li>Paladin</li>
            <li>Warlock</li>
            <li>Mage</li>
            <li>Warrior</li>
            <li>Priest</li>
            <li>Hunter</li>
            <li>Templar</li>
          </ul>
        </div>

        <ul class="list">
          <!--      <li class="li-head">
            <div class="col serif header"> Proof of Honor <span class="mobile">&</span></div>
            <div class="col serif header" style="color: #00a3dc;"> Hand scripts</div>
          </li>
       <li class="li-main">
            <div class="col">
              <h3 class="h3">Telegram</h3>
              <p><span class="f-blue">Invite your friends to join our <a href="http://t.me/morpheuslabs" target="_blank">Telegram</a> community.</span></p>
            </div>
            <div class="col">
              <p>Each invite who join and stay till the end of the campaign will receive 10 MITx tokens.</p>
            </div>
          </li> -->
          <div class="container-fluid bounty-allocation-container">
            <h4> Bounty Allocation</h4>
            <div class="row">
              <div class="col">Signature Bounty 25% </div>
              <div class="col">Youtube/Blogging Bounty 20% </div>
              <div class="col">Twitter Bounty 15% </div>
            </div>
            <div class="row">
              <div class="col">Facebook Bounty 15% </div>
              <div class="col">Translation Bounty 15% </div>
              <div class="col">Telegram Bounty 10% </div>
            </div>
          </div>
          <div class="container-fluid bounty-rules-container">
            <h4> General Rules</h4>
            <div class="row">Signature stakes will be distributed every week, other stakes will be calculated end of the campaign. </div>
            <div class="row">First week of the bounty campaign will start on 24th of February, Saturday. </div>
            <div class="row">For any questions regarding the bounty campaign please use this thread. </div>
            <div class="row">We reserve our right to eliminate you if we think you haven't been honest with your work. </div>
            <div class="row">We reserve the right to change bounty campaign rules. </div>
          </div>
          <div class="campaign-container">
            <div class="campaign-name-container">
              <h3 class="h3">Signature Campaign</h3>
            </div>
            <div class="campaign-content-container">
              <h4> Weekly Rewards:</h4>
              <div class="row">Full Member: 1 stake per week (+0.25 stake for avatar)</div>
              <div class="row">Senior Member: 1,5 stakes per week (+0,25 stake for avatar)</div>
              <div class="row">Hero Member: 2 stakes per week (+0,25 stake for avatar)</div>
              <div class="row">Legendary: 2,25 stakes per week (+0,25 stake for avatar)</div>
              <br/>
              <h4> Signature Campaign Rules: </h4>
              <div class="row">Participants have to be at least Full Member. </div>
              <div class="row">Every participants must wear our signature and personal text. </div>
              <div class="row">Multiple accounts will be banned if spotted. Spam is not allowed. </div>
              <div class="row">We expect you to post 10 constructive posts per week. Only 3 of these posts can be in local boards. </div>
              <div class="row">Posts should be made in altcoin sections, local board included (excluding bounties sections). </div>
              <div class="row">You will have to keep wearing our signature, avatar and personal text until the end of the first round. </div>
              <div class="row">Do not fill the form without wearing our signature, or you will be rejected. </div>
              <div class="btn-container">
                <a class="btn" href="https://goo.gl/forms/si9ADDEbXie3NXDL2" target="_blank">Apply </a>
                <a class="btn" href="https://goo.gl/sskP1X" target="_blank">Spreadsheet </a>
              </div>
            </div>
          </div>
          <div class="campaign-container">
            <div class="campaign-name-container">
              <h3 class="h3"> Youtube/Blogging/Article Campaign</h3>
            </div>
            <div class="campaign-content-container">
              <div class="row">You will have to apply to us with your Youtube channel before start working. </div>
              <div class="row">Youtube videos must be at least 1 minutes long. You must have at least 100 organic subscribers. </div>
              <div class="row">You should have divnks to our website and whitepaper. </div>
              <div class="row">Your Medium/Steem.it or any other free blogging blog page should have at least 50 followers. Your article
                must be original and contain at least 300 words. </div>
              <div class="row">You should have links to our website and whitepaper. </div>
              <div class="row">You will get stakes based on the quality and popularity of your work, reviewed at the end of the campaign.
              </div>
              <div class="btn-container">
                <a class="btn" href="https://goo.gl/forms/pukSYmKVo8cl29Pw1" target="_blank">Apply </a>
                <a class="btn" href="https://goo.gl/sskP1X" target="_blank">Spreadsheet </a>
              </div>
            </div>
          </div>
          <div class="campaign-container">
            <div class="campaign-name-container">
              <h3 class="h3">Twitter Campaign</h3>
            </div>
            <div class="campaign-content-container">
                <div class="row">All participants must follow our official
                  <a href="https://twitter.com/morpheus_labs_">
                    <strong>Twitter</strong>
                  </a> account. </div>
                <div class="row">
                  <strong>Your audit score must be more than 90%.</strong>
                </div>
                <div class="row">We will check every participant to make sure their Twitter account is genuine. </div>
                <div class="row">Your Twitter account must be mainly about cryptocurrencies. We will also accept media personalities. </div>
                <div class="row">
                  <strong>Everyone has to report their Likes and Retweets every week.</strong>
                </div>
                <div class="row">
                  <strong>You can report max 3 Retweets and Likes.</strong>
                </div>
                <div class="row">
                  <strong>To help with this, we will add dates on the Twitter spreadsheet on weeks.</strong>
                </div>
                <br/>
              <p>
                <strong>Stakes: (stakes double if you have more than 10 000 followers)</strong>
                <br/>
                <strong>We will accept anyone with more than 90% audit score.</strong>
              </p>
              <br/>
              <h4> If you have more than 1000 followers you'll get:</h4>
              <div class="row">0.5 stake for retweeting</div>
              <div class="row">0.5 stake for like</div>
              <br/>
              <h4>If you have less than 1000 followers you'll get:</h4>
              <div class="row">0.25 stake for retweeting</div>
              <div class="row">0.25 stake for like</div>
              <br/>
              <div class="btn-container">
                <a class="btn" href="https://goo.gl/forms/fk1wNULBUG8yR1U62" target="_blank">Apply </a>
                <a class="btn" href="https://goo.gl/sskP1X" target="_blank">Spreadsheet </a>
              </div>
            </div>
          </div>
          <!--           <li class="li-main">
            <div class="col"> 
              <h3 class="h3">Referrals</h3>
              <p>Due to overwhelming response and for better quality control: Please send email to token@morpheuslabs.io if you would like to get a referral ID.<br><span style="font-style: italic;">Note: We do not guarantee to issue an ID.</span></p>
              <p>Thank you very much for your support.</p>
            </div>
            <div class="col">
              <p>You and Your friend will receive 5% bonus tokens of amount your friend purchased. </p>
            </div>
          </li> -->
          <!--           <li class="li-main">
            <div class="col">
              <h3 class="h3">Email Signature Link </h3>
              <p><span class="f-blue">Create reference link and spread to your network 
                "https:///token.morpheuslabs.io/?ref=".</span>
                <br>
                E.g.
                <br>
                <span class="f-blue">http://token.morpheuslabs.io/?ref=cph</span>
              </p>
            </div>
            <div class="col">
              <p>We will choose 3 top heroes with most referred traffic every fortnight and each will receive 100 tokens
              (Min 100 unique referred visit count per fortnight)</p>
            </div>
          </li> -->
          <div class="campaign-container">
            <div class="campaign-name-container">
              <h3 class="h3">Facebook Campaign</h3>
            </div>
            <div class="campaign-content-container">
                <div class="row">All participants must follow and like our
                  <a href="https://www.facebook.com/morpheusblockchain">
                    <strong>Official Facebook Page.</strong>
                  </a>
                </div>
                <div class="row">We will check every participant to make sure their Facebook account is genuine. </div>
                <div class="row">Your Facebook account must be real. We don&rsquo;t accept fake accounts. </div>
                <div class="row">You have to have at least 100 real followers/friends. </div>
                <div class="row">Everyone has to report their Shares and Likes. Maximum 1 Share&amp;Like in a day, 5 Shares&amp;Likes in a
                  week. </div>
                <div class="row">Do not create a new post for report. Edit your first post. </div>
                <div class="row">To help with this, we will add dates on the Facebook spreadsheet on weeks. </div>
                <br/>
              <p>
                <strong>Stakes: (stakes double if you have more than 10 000 followers)</strong>
              </p>
              <br/>
              <h4>If you have more than 1000 friends you'll get:</h4>
              <div class="row">weekly 0.5 stake for like</div>
                <div class="row">weekly 0.5 stake for share</div>
                <br/>
              <h4>If you have less than 1000 friends you'll get:</h4>
                <div class="row">weekly 0.25 stake for like</div>
                <div class="row">weekly 0.25 stake for share</div>
                <br/>
              <div class="btn-container">
                <a class="btn" href="https://goo.gl/forms/OdtJDFWkYvGQztD53" target="_blank">Apply </a>
                <a class="btn" href="https://goo.gl/sskP1X" target="_blank">Spreadsheet </a>
              </div>
            </div>
          </div>
          <div class="campaign-container">
            <div class="campaign-name-container">
              <h3 class="h3">Translation Campaign</h3>
            </div>
            <div class="campaign-content-container">
                <div class="row">We will only ask you to translate ANN thread and whitepaper. </div>
                <div class="row">If we find out you've used Google Translate, you will be banned from the campaign as a whole. </div>
                <div class="row">You are expected to moderate and update your thread with our news and updates to our ANN thread, at least
                  once a week. </div>
                <div class="row">You are expected to finish article translation in 2 days after you've assigned with the job. </div>
                <div class="row">We only limited number of languages, they will be selected from the most active communities on Bitcointalk.
                </div>
                <div class="row">
                  <strong>We are looking for Members or above.</strong>
                </div>
              <div class="btn-container">
                <a class="btn" href="https://goo.gl/forms/iqtvsrdmMoEHTCVI2" target="_blank">Apply </a>
                <a class="btn" href="https://goo.gl/sskP1X" target="_blank">Spreadsheet </a>
              </div>
            </div>
          </div>
          <div class="campaign-container">
            <div class="campaign-name-container">
              <h3 class="h3">Telegram Campaign</h3>
            </div>
            <div class="campaign-content-container">
                <div class="row">Add &quot;MorpheusLabs.io&quot; to your nickname and get 10 stakes! </div>
                <div class="row">Join our Telegram channel and get 1 stake! </div>
                <div class="row">Total bounty allocated will be divided to the number of participants. </div>
                <div class="row">We will give extra stake for active user on Telegram group. </div>
              <div class="btn-container">
                <a class="btn" href="https://goo.gl/forms/fGCxe7cgExiX3AKt1" target="_blank">Apply </a>
                <a class="btn" href="https://goo.gl/sskP1X" target="_blank">Spreadsheet </a>
                <a class="btn" href="https://t.me/joinchat/Gy1btBJEjDsGi3zj23JkKw" target="_blank">Join Through </a>
              </div>
            </div>
          </div>
        </ul>
      </div>
      <img class="pc" src="../../assets/img/bounty/frame_bg_bot.png" alt="">
      <div class="list-bot">
        <div class="btn-box">
          <a class="btn btn-blue" href="https://goo.gl/forms/nV3wuDE75i0QZLZq2" target="_blank">Join our league now! </a>
          <a class="btn btn-blue-2" href="https://docs.google.com/forms/d/e/1FAIpQLSfc34YqgsaZSb-V0n0MvYhmE5CvSBVReysmWJIMZw7DcCJvZg/viewform"
            target="_blank">Submit Proof of Honor</a>
        </div>
        <h2 class="call-action"> For Blood and honor!! </h2>
      </div>
    </div>

    <div class="decoration">
      <img src="../../assets/img/bounty/element01.png" alt="">
    </div>
  </div>
</div>
<!--<div class="alliance">
    <h2 class="h2">
      <img src="../../assets/img/bounty/Title02.png" alt="" class="pc">
      <img src="../../assets/img/bounty/MobileTitle02.png" alt="" class="mobile">
    </h2>
    <p>Are you from high mountain, deep fog forest or enchanted Moon lake? Join our Grand Alliance with exclusive bounties and let your legion works for you</p>
  <div class="alliance-main">
    <div class="distribution">
      <div class="distribution-col">
        <span class="distribution-item">
        <img src="../../assets/img/bounty/Combined_Shape.png" alt="">
        <span class="distribution-txt">You</span>
        </span>
      </div>

      <div class="distribution-col">
        <span class="col-box">
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_2.png" alt="">
            <span class="distribution-txt">T1</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_2.png" alt="">
            <span class="distribution-txt">T1</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_2.png" alt="">
            <span class="distribution-txt">T1</span>
          </span>
        </span>
      </div>

      <div class="distribution-col">
        <span class="col-box">
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_3.png" alt="">
            <span class="distribution-txt">T2</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_3.png" alt="">
            <span class="distribution-txt">T2</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_3.png" alt="">
            <span class="distribution-txt">T2</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_3.png" alt="">
            <span class="distribution-txt">T2</span>
          </span>
        </span>
      </div>
    </div>

    <ul class="distribution-info">
      <li>
        <h5 class="h5">Total percentage payout up to <span class="distribution-num">12%</span></h5>
        From deposits of T1 + T2
      </li>
      <li>
        <h5 class="h5">T1 deposit & you receive <span class="distribution-num">10%</span></h5>
        Of purchase tokens
      </li>
      <li>
        <h5 class="h5">T2 deposit & you receive <span class="distribution-num">2%</span></h5>
        Of purchase tokens
      </li>
    </ul>
  </div>
  <div class="alliance row">
    <a class="btn btn-blue-2" onclick="location.href='mailto:token@morpheuslabs.io?subject=Alliance Application'" target="_blank" style="color: white;">Join Alliance</a>
  </div>
</div> -->
