<app-header
  (clickEvent)="onNavLinkClicked($event)">
</app-header>

<div class="setion">
  <div class="logo"><img src="../../assets/img/bounty/logo.png" alt=""></div>
  <div class="intor">
    <p>Battle between the Alliance and Horde have erupted, and a new war has begun.</p>
    <p>Summoning all champions, heroes, warlords, wizards and knights out there to support our faction - and join Morpheus League. </p>
    <p>You will be knowns as legend, leading to explore and conquer new territories against the horde and eventually earn a place in Olympus, and total <strong>USD 300,000</strong> worth of token can be earned from this campaign.</p>
    <br>
    <p>This is an exclusive approved group of the most heroic, loyal and honorable supporters of Morpheus Labs</p>
  </div>
  <div class="btn-box">
    <a class="btn btn-blue" href="https://goo.gl/forms/nV3wuDE75i0QZLZq2" target="_blank">Join our league now! </a>
    <a class="btn btn-blue-2" href="https://docs.google.com/forms/d/e/1FAIpQLSfc34YqgsaZSb-V0n0MvYhmE5CvSBVReysmWJIMZw7DcCJvZg/viewform" target="_blank">Submit Proof of Honor</a>
  </div>
  <div class="info">
    <h2 class="h2">
      <img src="../../assets/img/bounty/Title.png" alt="" class="pc">
      <img src="../../assets/img/bounty/MobileTitle01.png" alt="" class="mobile">
    </h2>

    <div class="info-list">
      <img src="../../assets/img/bounty/frame_bg_top.png" alt="" class="pc">
      <div class="list-box">
        <div class="classes">
          <h2 class="glecb">Choose from one of the classes and lead Human Race<br>to conquer unexplored territories</h2>
          <ul class="glecb">
            <li>Knight</li> 
            <li>Paladin</li>            
            <li>Warlock</li> 
            <li>Mage</li>
            <li>Warrior</li> 
            <li>Priest</li>
            <li>Hunter</li>
            <li>Templar</li> 
          </ul>
        </div>

        <ul class="list">
          <li class="li-head">
            <div class="col serif header"> Proof of Honor <span class="mobile">&</span></div>
            <div class="col serif header" style="color: #00a3dc;"> Hand scripts</div>
          </li>
<!--           <li class="li-main">
            <div class="col">
              <h3 class="h3">Telegram</h3>
              <p><span class="f-blue">Invite your friends to join our <a href="http://t.me/morpheuslabs" target="_blank">Telegram</a> community.</span></p>
            </div>
            <div class="col">
              <p>Each invite who join and stay till the end of the campaign will receive 10 MITx tokens.</p>
            </div>
          </li> -->
          <li class="li-main">
            <div class="col">
              <h3 class="h3">Facebook, LinkedIn & Medium</h3>
              <p><span class="f-blue">Share our posts from our <a href="https://www.facebook.com/morpheusblockchain" target="_blank">Facebook</a>, <a href="https://www.linkedin.com/company/27162662/" target="_blank">LinkedIn</a> & <a href="https://medium.com/@token_34572" target="_blank">Medium</a> page with your friends.</span></p>
            </div>
            <div class="col">
              <p>Each share will earn you 1 MITx token.</p>
              (Min qualification: 200 friends on Facebook Linkedin and Medium account must be at least 6 months old)
            </div>
          </li>
          <li class="li-main">
            <div class="col"> 
              <h3 class="h3">Twitter</h3>
              <p><span class="f-blue">Retweet our posts on <a href="https://twitter.com/Morpheus_Labs_" target="_blank">Twitter</a>.</span></p>       
            </div>
            <div class="col">
              <p>Each share will earn you 1 MITx token.</p>
              (Min qualification: 150 followers on Twitter and account must be at least 6 months old)
            </div>
          </li>
          <li class="li-main">
            <div class="col"> 
              <h3 class="h3">Bitcointalk Signature Bounties </h3>
              <p><span class="f-blue">Please copy from our template <a href="https://docs.google.com/document/d/1-0W_z1Rb2T1hy9FnZCv4ku51y-m6Q62YtkiLTbbfeZw/edit" target="_blank">here</a></span></p>
            </div>
            <div class="col">
              <p>Legendary/Hero = 5 MITx tokens Per Week</p>
              <p>Sr. Member = 3 MITx tokens Per Week</p>
              <p>Full Member = 2 MITx tokens Per Week</p>
              <p>Member = 1.5 MITx tokens Per Week</p>
              <p>Jr. Member = 1 MITx tokens Per Week</p>
            </div>
          </li>
<!--           <li class="li-main">
            <div class="col"> 
              <h3 class="h3">Referrals</h3>
              <p>Due to overwhelming response and for better quality control: Please send email to token@morpheuslabs.io if you would like to get a referral ID.<br><span style="font-style: italic;">Note: We do not guarantee to issue an ID.</span></p>
              <p>Thank you very much for your support.</p>
            </div>
            <div class="col">
              <p>You and Your friend will receive 5% bonus tokens of amount your friend purchased. </p>
            </div>
          </li> -->
<!--           <li class="li-main">
            <div class="col">
              <h3 class="h3">Email Signature Link </h3>
              <p><span class="f-blue">Create reference link and spread to your network 
                "https:///token.morpheuslabs.io/?ref=".</span>
                <br>
                E.g.
                <br>
                <span class="f-blue">http://token.morpheuslabs.io/?ref=cph</span>
              </p>
            </div>
            <div class="col">
              <p>We will choose 3 top heroes with most referred traffic every fortnight and each will receive 100 tokens
              (Min 100 unique referred visit count per fortnight)</p>
            </div>
          </li> -->
          <li class="li-main">
            <div class="col">
              <h3 class="h3">Blog Posts, Medium Posts, Articles, Reviews</h3>
              <p><span class="f-blue">Original post with min. 350 words that is published online and accessible publicly.</span></p>
            </div>
            <div class="col">
              <p>Each approved post will earn you at least 150 MITx tokens.
              (Min qualification: Site must be at least 2 months old and have user activity.)</p>
            </div>
          </li>
          <li class="li-main">
            <div class="col">
              <h3 class="h3">YouTube</h3>
              <p><span class="f-blue">Create an explanatory or review video that is at least 1:00 minute long.</span></p>
            </div>
            <div class="col">
              <p>Each approved video with min 250 views would earn you at least 250 MITx tokens.
                (Min qualification: 200 subscribers on YouTube)
              </p>
            </div>
          </li>
          <li class="li-main">
            <div class="col">
              <h3 class="h3">Translation</h3>
              <p><span class="f-blue">Help us to translate our Whitepaper or Webpage to another language.</span></p>
            </div>
            <div class="col">
              <p>Each approved translation will earn you 700 MITx tokens.
              (Please reserve language of your choice with us before start)
              </p>
            </div>
          </li>
          <li class="li-main">
            <div class="col">
              <h3 class="h3">Bug Report</h3>
              <p><span class="f-blue">Help us spot typos or technical bugs in our website, platform etc.</span></p>
            </div>
            <div class="col">
              <p>Each approved report will earn you 700 MITx tokens.
              (Please submit your work via excel or print screen by uploading to proof of honours)
              </p>
            </div>
          </li>

          <li class="li-col-1 f-blue">
            <p>*If there is suspicious bot activity on your account you will be banned from our bounty campaign.</p>
          </li>
          <li class="li-col-1 f-blue">
            <p>Each class will have 1 chief and 3 legion leaders to help ensure our code of honours are abide in all unexplored territories. Each class will have an guardian from Morpheus guiding you and. He or she will select chief and leaders of each class when time comes. </p>
          </li>
          <li class="li-col-1 f-blue">
            <p>Code of Honour: 1. Never be aggressive & offensive in any territories, 2. For the glory of Morpheus, 3. Provide help to your legion and your league - Morpheus, 4. Summon your powerful friends to join us</p>
          </li>
          <li class="li-col-1 f-blue">
            <p>You can contact us at token@morpheuslabs.io and depend on the question, we will try our best to answer within 24-48 hours </p>
          </li>
        </ul>
      </div>
      <img class="pc" src="../../assets/img/bounty/frame_bg_bot.png" alt="">
      <div class="list-bot" >
        <div class="btn-box">
          <a class="btn btn-blue" href="https://goo.gl/forms/nV3wuDE75i0QZLZq2" target="_blank">Join our league now! </a>
          <a class="btn btn-blue-2" href="https://docs.google.com/forms/d/e/1FAIpQLSfc34YqgsaZSb-V0n0MvYhmE5CvSBVReysmWJIMZw7DcCJvZg/viewform" target="_blank">Submit Proof of Honor</a>
        </div>
        <h2 class="call-action"> For Blood and honor!! </h2>
      </div>
  </div>

  <div class="decoration"><img src="../../assets/img/bounty/element01.png" alt=""></div>
</div></div>
  <div class="alliance">
    <h2 class="h2">
      <img src="../../assets/img/bounty/Title02.png" alt="" class="pc">
      <img src="../../assets/img/bounty/MobileTitle02.png" alt="" class="mobile">
    </h2>
    <p>Are you from high mountain, deep fog forest or enchanted Moon lake? Join our Grand Alliance with exclusive bounties and let your legion works for you</p>
  <div class="alliance-main">
    <div class="distribution">
      <div class="distribution-col">
        <span class="distribution-item">
        <img src="../../assets/img/bounty/Combined_Shape.png" alt="">
        <span class="distribution-txt">You</span>
        </span>
      </div>

      <div class="distribution-col">
        <span class="col-box">
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_2.png" alt="">
            <span class="distribution-txt">T1</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_2.png" alt="">
            <span class="distribution-txt">T1</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_2.png" alt="">
            <span class="distribution-txt">T1</span>
          </span>
        </span>
      </div>

      <div class="distribution-col">
        <span class="col-box">
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_3.png" alt="">
            <span class="distribution-txt">T2</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_3.png" alt="">
            <span class="distribution-txt">T2</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_3.png" alt="">
            <span class="distribution-txt">T2</span>
          </span>
          <span class="distribution-item">
            <img src="../../assets/img/bounty/Combined_Shape_3.png" alt="">
            <span class="distribution-txt">T2</span>
          </span>
        </span>
      </div>
    </div>

    <ul class="distribution-info">
      <li>
        <h5 class="h5">Total percentage payout up to <span class="distribution-num">12%</span></h5>
        From deposits of T1 + T2
      </li>
      <li>
        <h5 class="h5">T1 deposit & you receive <span class="distribution-num">10%</span></h5>
        Of purchase tokens
      </li>
      <li>
        <h5 class="h5">T2 deposit & you receive <span class="distribution-num">2%</span></h5>
        Of purchase tokens
      </li>
    </ul>
  </div>
  <div class="alliance row">
    <a class="btn btn-blue-2" onclick="location.href='mailto:token@morpheuslabs.io?subject=Alliance Application'" target="_blank" style="color: white;">Join Alliance</a>
  </div>
</div>