.member-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 450px;
    width: 530px;
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 0px;
    padding-top: 40px;
}

.photo{
    width: 15%;
    height: 0;
    padding-top: 15%;
    background-position: 50% 50%!important;
    background-repeat: no-repeat!important;
    background-size: 100%!important;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 75%;
    padding-left: 5%;
}

.name{
    font-weight: bold;
    font-size: 1.3em;
    color: black;
}

.desc1{
    font-size: 1em;
    color: rgb(155, 155, 155);
    margin-bottom: 15px;
}

.desc2{
    font-size: 1em;
    color: rgb(97, 97, 97)
}