<div class="stage-container-{{currentStage.status}}">
  <div class="header-{{currentStage.status}}">
    <div class="title-{{currentStage.status}}">
      {{currentStage.title}}
    </div>
    <div class="subtitle-{{currentStage.status}}">
      {{currentStage.subTitle}}
    </div>
  </div>
  <div 
    class="finished"
    *ngIf="currentStage.status === 'ended'">
    STAGE FINISHED
  </div>
  <div class="body-{{currentStage.status}}">
    <div class="date-{{currentStage.status}}">
      {{currentStage.dateString}}
    </div>
    <div class="time-{{currentStage.status}}">
      {{currentStage.timeString}}
    </div>
    <a 
      class="btn btn-primary buy-btn"
      *ngIf="currentStage.status === 'ongoing'"
       href="https://goo.gl/forms/gIYLP2JB2Ft3QQ4q1" target="_blank">Join Now</a>
  </div>
</div>