<div class="container-fluid pie">
  <div class="pie-box">
    <ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="financeDist"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [doughnut]="doughnut"
      [arcWidth]="arcWidth"
      [tooltipDisabled]="tooltipDisabled">
    </ngx-charts-pie-chart>
  	<div class="pie-title">Finance<br>Distribution</div>
  	<div class="pie-stat reserve">
  		<div class="value">45%</div>
  		<div class="label">Platform Development & Operations</div>
  	</div>
  	<div class="pie-stat foundation">
  		<div class="value">20%</div>
  		<div class="label">Marketing</div>
  	</div>
  	<div class="pie-stat sales">
  		<div class="value">25%</div>
  		<div class="label">Research & Development</div>
  	</div>
  	<div class="pie-stat community">
  		<div class="value">15%</div>
  		<div class="label">Others, Legal</div>
  	</div>
  </div>

  <div class="bar-stats">
  	<ul>  
  		<li>
  			<div class="bar reserve"></div>
  			<div class="desc">
  				<span class="label">Platform Development & Operations</span>&nbsp;<span class="value">45%</span>
  			</div>
  		</li>
  		<li>
  			<div class="bar sales"></div>
  			<div class="desc">
  				<span class="label">Marketing</span>&nbsp;<span class="value">20%</span>
  			</div>
  		</li>
  		<li>
  			<div class="bar foundation"></div>
  			<div class="desc">
  				<span class="label">Research & Development</span>&nbsp;<span class="value">25%</span>
  			</div>
  		</li>
  		<li>
  			<div class="bar community"></div>
  			<div class="desc">
  				<span class="label">Others, Legal</span>&nbsp;<span class="value">15%</span>
  			</div>
  		</li>
  	</ul>
  </div>
</div>